/*Global*/
body{
    margin: 0;
    padding: 0;
    font-family:moningFonts;
    background-image: url('../img/WallpaperDog-20512806.jpg');
}

.navbar{
  background-color: rgba(87, 85, 85, 0.664);
  height: 100px;
}

.ImgNav{
  height: 120px;
  border-radius: 60px;
  border-color: azure;
  border-style: groove;
}

/* Height for devices larger than 576px */
/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}